*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right top, #2b2b2b, #383838, #454545, #525252, #616161);
    color: #fff;
    height: 100vh;
}

.container{
    width: 100%;
    height: 95vh;
    padding: 5px;
    display: flex;
}
.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    height: 25vh;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    outline: none;
}
textarea:focus{
    background-color: #080808;
}
iframe{
    width: 100%;
    height: 100%;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 5px;
}
label i{
    margin: 10px;
}
label{
    display: flex;
    align-items: center;
    background-color: #080808;
    height: 30px;
    border-radius: 5px 5px 0 0;
}
#html5{
    color: rgb(245, 63, 30);
}
#css3{
    color: rgb(87, 30, 245);
}
#js{
    color: rgb(255, 217, 2);
}

.fa-solid{
    color: greenyellow;
}